{% extends "base.html" %}
{% load static %}
{% block additionnal_css %}
  <link rel="stylesheet" href="{% static "css/manage_mess.css" %}?v=">
{% endblock %}
{% block additionnal_scripts %}
    <script src="{% static "js/sha1.min.js" %}?v="></script>
{% endblock %}
{% block content %}
{% include "common/conn_admin.html" %}
{% if is_connected_user %}
<div id="search_bar">
    <input type="text" name="search_string" autocomplete="off" />
    <button class="btn--primary search">Recherche</button>
    <div id="search_results"></div>
</div>
<div id="main_part" class="col-6 grid-6 has-gutter txtcenter">
    <div id="list" class="col-2">
        <h2>Liste</h2>
        <div class="content">
        </div>
    </div>
    <div id="working_area" class="col-4" style="display:none;">
        <h2>Informations, actions</h2>
        <div class="content">
        </div>
    </div>
</div>
<div id="templates" style="display: none;">
    <div data-type="envelops">
        <form>
             <p>
                 <label>Type d'enveloppe</label>
                 <input type="radio" name="payment_meaning" value="cash" checked="checked" /> Espèces
                 <input type="radio" name="payment_meaning" value="ch" /> Chèque
             </p>
             <div style="width:200px; margin:auto;">
             <p>
                <input type="number" step="10" min="10" placeholder="Montant total" name="shares_euros" />
             </p>
             <p class="content" style="display:none;">
                Nombre de chèques <input type="number" step="1" min="1" name="checks_nb" value="1" size="2" maxlength="2" style="max-width: 50px;"/>
                <p class="content_details">

                </p>
             </p>
             </div>
             <input type="hidden" name="partner_id" value="" />
             <input type="hidden" name="partner_name" value="" />
        </form>
    </div>
</div>
<script src="{% static "js/pouchdb.min.js" %}"></script>
<script type="text/javascript">
        var couchdb_dbname = '{{db}}';
        var couchdb_server = '{{couchdb_server}}' + couchdb_dbname;
        var dbc = new PouchDB(couchdb_dbname);
        var sync = PouchDB.sync(couchdb_dbname, couchdb_server, {
          live: true,
          retry: true,
          auto_compaction: false
        });
 </script>
{% endif %}
 <script src="{% static "js/all_common.js" %}"?v=></script>
 <script src="{% static "js/common.js" %}"?v=></script>

 <script src="{% static "js/manage_mess.js" %}?v="></script>
{% endblock %}