#need_connect {text-align: center;}
#content_wrapper {
     border-radius: 25px;
     border: 2px solid #0345fc;
     padding: 20px;
}
span.shelf {font-weight: bold;}
button.add-products {display: none;}

td.p_nb ,
td.products .fa-plus-circle,
td.action .fa-edit,
td.action .fa-download,
td.action .fa-trash {
  cursor: pointer;
}

label {
  display: inline-block;
  width: 140px;
  text-align: right;
  margin-right: 5px;
}​
