{% extends "base.html" %}
{% load static %}

{% block additionnal_css %}
<link rel="stylesheet" href="{% static 'css/datatables/jquery.dataTables.css' %}">
<link rel="stylesheet" href="{% static 'css/reception_style.css' %}">
{% endblock %}

{% block additionnal_scripts %}
<script type="text/javascript" src="{% static 'js/datatables/jquery.dataTables.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/datatables/dataTables.plugins.js' %}"></script>
<script type="text/javascript" src="{% static 'js/moment.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/datatables/dataTables.plugin.moment_sorting.js' %}"></script>
{% endblock %}

{% block content %}
<div class="header txtcenter">
  <h1>Sélectionner une commande</h1>
</div>

<br>
<div id="container_search">
  <div class="txtcenter">
    <input type="text" placeholder="Rechercher une commande par son fournisseur" class="midWidthInput" id="search_input" autofocus>
  </div>
</div>

<div id="container_groups" hidden>
  <h4><b>Commandes groupées :</b></h4>
  <div id="groups_items"></div>
</div>

<div id="grouped_action">
  <button type="button" class='btn--primary' id='group_action' onclick="group_action()" hidden>Compter les produits des commandes sélectionnées</button>
</div>


<div class="main">
  <table id="orders" class="display" width="90%" cellspacing="0" ></table>
</div>

<div id="templates" style="display:none;">
  <div id="modal_no_prices">
    <h2>Attention !</h2>
    <p>Vous vous apprêtez à indiquer qu'il n'y a pas de prix à vérifier pour cette commande.</p>
    <p>Êtez-vous sûr ?</p>
    <hr />
  </div>

  <div id="modal_order_access">
    <h3>Attention !</h3>
    <br/>
    <p class="order_modified_msg"> 
        Un autre navigateur a commencé à réceptionner cette commande il y a <span class="order_last_update"></span>.
    </p><br/>
    <p>
        Si quelqu'un d'autre que vous est à l'origine de cette opération et que celle-ci est récente,
        nous conseillons fortement de ne pas accéder à la commande afin d'éviter les conflits.
    </p><br/>
    <p>Voulez-vous quand même y accéder ?</p>
    <hr/>
</div>

</div>
<br/>

<script src="{% static "js/all_common.js" %}?v="></script>
<script src="{% static 'js/pouchdb.min'|add:POUCHDB_VERSION|add:'.js' %}"></script>        
<script type="text/javascript">
        var merge_orders_pswd = '{{merge_orders_pswd}}';
        var couchdb_dbname = '{{db}}';
        var couchdb_server = '{{couchdb_server}}' + couchdb_dbname;
</script>
<script type="text/javascript" src="{% static 'js/reception_index.js' %}?v="></script>
{% endblock %}
