.main, .barcode_search_area {
  margin-top: 40px;
}

#sm_barcode_selector {
  border: 1px solid #555;
  border-radius:10px;
}

.stock_edit_input {
  max-width: 60px;
}

#movement_validation_button {
  margin-top: 20px;
}

.notifyjs-test1-base {
  background: #5CB85C !important;
}

.confirmation_checking_msgs {
  padding-bottom: 10px;
}

.remove_row_icon {
  font-size: 1.4em;
  color: #d9534f;
  cursor: pointer;
}

.blink_me {
  animation: blinker 1s ease-in-out;
}

@keyframes blinker {
  15% { background-color: #218D9B ; } /*  F0AD4E*/
}

#back_to_movement_selection {
  position:absolute;
  left:0;
  margin: 5px;
}

.movement_type_buttons {
  margin-top: 60px;
}

.movement_type_button {
  height: 2.2em;
  width: 30%;
  border-radius: 3px;
  margin: 10px;
  font-size: 1.3em;
}

.movement_type_button_icons {
  float: right;
  margin: 2px;
}

.page_body {
  position: relative;
}

.page_content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.set_member_to_movement {
  margin-top: -10px;
}

.search_member_results_area {
  margin-top: 10px;
}
