{% extends "base.html" %}
{% load static %}


{% block menu %}
<!-- Navbar -->
<link rel="stylesheet" href="{% static 'css/bootstrap/css/bootstrap.css' %}">
<script src="{% static 'css/bootstrap/js/bootstrap.min.js' %}"></script>
 
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <!-- Brand -->


  <!-- Links 
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="#">Link 1</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link 2</a>
    </li>
-->
    <!-- Dropdown -->
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        MENU
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="stockOrder">Nouvelle commande</a>
        <a class="dropdown-item" href="listArticleBreaking">Liste des articles en rupture</a>
        <a class="dropdown-item" href="breakingArticleSet">Mettre en rupture un article sur odoo</a>
        <a class="dropdown-item" href="stockQuantLastSale">Date de la dernière vente des articles</a>
        <a class="dropdown-item" href="saleWithNotSale">Vente avec jours sans vente</a>
      </div>
    </li>
  </ul>
</nav>
<!-- Navbar -->

<script type="text/javascript" src="{% static 'js/stock_graphSale.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

<div class="container">
  
  <div class="modal fade" id="graph">
    <div class="modal-dialog modal-lg">  
      <div class="modal-content">
        <!-- Le Graph -->
        
        <canvas id="mixed-chart" width="800" height="450" ></canvas>
        
      </div>  
    </div> 
  </div>
</div>

  
{% endblock %}
