{% extends "stock/stock_menu.html" %}
{% load static %}

{% block additionnal_css %}
<link rel="stylesheet" href="{% static 'css/datatables/jquery.dataTables.css' %}">
<link rel="stylesheet" href="{% static 'css/stock_listArticleBreaking.css' %}">
{% endblock %}

{% block additionnal_scripts %}
  <script type="text/javascript" src="{% static 'js/datatables/jquery.dataTables.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/stock_saleWithNotSale.js' %}"></script>
{% endblock %}


{% block content %}
<h1>Vente des articles de la dernière semaine avec jour sans vente</h1>
    <br>

    <div class="main">

          <table id="tableArticle" class="display" width="95%" cellspacing="0" ></table>
    </div>
    <br/>
  <br/>

  <script src="{% static "js/all_common.js" %}?v="></script>
  <script src="{% static "js/common.js" %}?v="></script>
{% endblock %}
